/* * {outline:solid 1px #f1f1f1}*/

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #353C47;
}

@font-face {
  font-family: "Big River Script";
  src: url('../assets/big_river_script.otf') format('woff2');
}

h1 {
  font-family: "Big River Script", Helvetica, Arial, sans-serif;
  color: #353C47;
  font-size: 28px;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom:5px;
  line-height: 1.2;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom:5px;
  line-height: 1.2;
}

h4 {
  font-size: 12px;
  font-weight: normal;
  margin-bottom:5px;
  line-height: 1.2;
}

p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}

a {
  color: #353C47;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .75rem;
}

a:active {
  color: #B85B4F;
}

.container {
  display: grid;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 30px;
    padding-top: 30px;
    grid-gap: 30px;
    align-items: center;
}

.logo {
  margin: auto;
  display: inline;
  align-self: center;
}

.logo img {
  width: 133px;
  height: auto;
}

.menu {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.menu a {
    padding: 5px;
    margin: auto;
    text-align: center;
}

.current {
  color: #B85B4F;
}

.hero-content {
  padding: 40px 0;
  margin: auto;
}

.hero-content img {
  max-width: 100%;
  height: auto;
}

.contact h1{
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}

.contact-form {
  margin: auto;
}

.contact-form h4{
  padding-top: 20px;
}

input {
  width: 275px;
  border: none;
  border-bottom: 1px solid #353C47;
  padding: 5px 5px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #353C47;
}

textarea {
  width: 265px;
  height: 275px;
  border: 1px solid #353C47;
  padding: 5px 5px;
  margin-bottom: 50px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #353C47;
}

input[type=submit] {
  margin: auto;
  text-align: center;
  width: 175px;
  background: none;
  border: 1px solid #B85B4F;
  color: #B85B4F;
  font-size: 15px;
  padding: 10px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

input[type=submit]:hover {
  background: #B85B4F;
  color: #ffffff;
}

.full {
  display: none;
}

.medium {
  display: none;
}

.mobile {
  display: grid;
}

footer {
  padding-left: 5vw;
  padding-top: 100px;
  padding-bottom: 30px;
}

@media (min-width: 400px) {

  h1 {
    font-family: "Big River Script", Helvetica, Arial, sans-serif;
    color: #353C47;
    font-size: 35px;
  }

  h2 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom:5px;
    line-height: 1.2;
  }

  h3 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom:5px;
    line-height: 1.2;
  }

  p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 100;
  }

  .navbar {
      display: grid;
      grid-template-columns: 1fr;
      padding: 0 30px;
      padding-top: 30px;
      align-items: center;
  }

  .logo {
    margin: auto;
  }

  .menu a {
      padding: 5px;
      margin: 10px;
      text-align: center;
  }

  input {
    width: 350px;
/*    border: none;
    border-bottom: 1px solid #353C47;
    padding: 5px 0;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;*/
  }

  textarea {
    width: 340px;
    height: 350px;
    /*border: 1px solid #353C47;
    padding: 5px;
    margin-bottom: 50px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;*/
  }

  input[type=submit] {
    /*margin: auto;*/
    display: block;
    width: 200px;
    /*background: none;
    border: 1px solid #B85B4F;
    color: #B85B4F;
    padding: 10px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    text-transform: uppercase;*/
  }

  .mobile {
    display: none;
  }

  .medium {
    display: block;
  }

  .full {
    display: none;
  }

}

@media (min-width: 800px) {

  .mobile {
    display: none;
  }

  .medium {
    display: none;
  }

  .full {
    display: block;
  }

  .logo {
    margin-left: 0;
  }

  .navbar {
      display: grid;
      grid-template-columns: 1fr auto;
      padding: 0 30px;
      padding-top: 30px;
      align-items: center;
  }

  .hero-content {
    grid-template-columns: 1fr auto;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  input {
    width: 500px;
    /*border: none;
    border-bottom: 1px solid #353C47;
    padding: 5px 0;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;*/
  }

  textarea {
    width: 490px;
    height: 500px;
    /*border: 1px solid #353C47;
    padding: 5px;
    margin-bottom: 50px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;*/
  }

  input[type=submit] {
    /*margin: auto;*/
    width: 200px;
    /*background: none;
    border: 1px solid #B85B4F;
    color: #B85B4F;
    padding: 10px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    text-transform: uppercase;*/
  }

}
