/* * {outline:solid 1px #f1f1f1}*/

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  text-decoration-color: #353C47;
}

@font-face {
  font-family: "Big River Script";
  src: url('../assets/big_river_script.otf') format('woff2');
}

h1 {
  font-family: "Big River Script", Helvetica, Arial, sans-serif;
  text-decoration-color: #353C47;
  font-size: 30px;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom:5px;
  line-height: 1.2;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom:5px;
  line-height: 1.2;
}

h4 {
  font-size: 12px;
  font-weight: normal;
  margin-bottom:5px;
  line-height: 1.2;
}

p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
}

a {
  color: #353C47;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .75rem;
}

a:active {
  color: #B85B4F;
}

.container {
  display: grid;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 30px;
    padding-top: 30px;
    grid-gap: 30px;
    align-items: center;
}

.logo {
  margin: auto;
}

.menu {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.menu a {
    padding: 5px;
    margin: auto;
}

.logo {
  display: inline;
  align-self: center;
}

.current {
  color: #B85B4F;
}

.hero-content {
  padding: 50px 0;
  margin: auto;
}

.full {
  display: none;
}

.medium {
  display: none;
}

.mobile {
  display: grid;
  margin: auto;
}

.projects h1 {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.project-overview {
  margin: auto;
}

.project-overview-desc h2 {
  position: relative;
  padding: 12px 10px;
}

.project-overview-desc h2::before {
  position: absolute;
  content: "";
  width: 120%;
  height: 120%;
  left: -15%;
  top: -5%;
  background-image: url("../assets/images/pawprints_wash.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.description {
  padding: 20px 0;
  width: 250px;
}

.case-study-link a {
  position: relative;
  padding: 10px 10px;
}

.case-study-link a::before {
  position: absolute;
  content: "";
  width: 120%;
  height: 120%;
  left: -10%;
  top: 5%;
  background-image: url("../assets/images/casestudy_button.png");
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  padding-left: 5vw;
  padding-top: 100px;
  padding-bottom: 30px;
}

@media (min-width: 376px) {

  h1 {
    font-family: "Big River Script", Helvetica, Arial, sans-serif;
    text-decoration-color: #353C47;
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom:5px;
    line-height: 1.2;
  }

  h3 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom:5px;
    line-height: 1.2;
  }

  p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 100;
  }

  .navbar {
      display: grid;
      grid-template-columns: 1fr auto;
      padding: 0 30px;
      padding-top: 30px;
      align-items: center;
  }

  .logo {
    margin-left: 0;
  }

  .menu a {
      padding: 5px;
      margin: 10px;
  }

  .mobile {
    display: none;
  }

  .medium {
    display: block;
  }

  .full {
    display: none;
  }

  .projects h1 {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .project-overview {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
    text-align: left;
    margin: auto;
    max-width: 700px;
  }

  .description {
    padding: 20px 0;
    width: 300px;
  }

}

@media (min-width: 769px) {

  .mobile {
    display: none;
  }

  .medium {
    display: none;
  }

  .full {
    display: block;
  }

  .project-overview {
    margin: auto;
  }

}
